/*  Table  */
table {
  font-family: 'Montserrat', Arial;
  border-collapse: collapse;

}

.container-order-table {
  position: relative;
  overflow: auto;
}

.order-table {
  width: 100%;
  min-width: 992px;
}

.table-row {
  border: 1px solid #d7d4d4;
}

.table-row input {
  color: #5c5757;
  padding: 5px;
}

.column-1 {
  width: 220px;
  padding: 30px 50px;
}

.column-1 img {
  width: 130px;
}

.input-name {
  font-size: 17px;
  font-weight: 600;
}

.column-2 {
  padding-left: 10px;
  width: 400px;
}

.column-2 span {
  font-weight: 400;
  font-size: 14px;
  color: #5c5757;
  padding: 5px;
}

.column-3 {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}

.size-input {
  font-size: 14px;
  width: 15%;
}

.qty-input {
  width: 10%;
}

.input-initialCost {
  font-size: 17px;
  font-weight: 500;
}

.table-row:nth-child(even) {
  background-color: #ececec;
}

.table-row:nth-child(even) input {
  background-color: #ececec;
}

/*  Total  */
.payment-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: 0;
  padding-top: 5px;
}

.borT {
  margin-top: 10px;
  border-top: 2px solid #e65540;
}

.pay-span {
  width: 100%;
}

/*  Payment  */
.legend-pay {
  margin-left: 20px;
}

.ctn2 {
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

.payment-box {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input-payment {
  width: 50%;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.label1 {
  padding: 5px;
}

.input-payment:focus {
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}

#expYear, #expMonth {
  font-family: 'Montserrat', Arial;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 5px;
}

#cvc {
  width: 15%;
  padding: 2px;
  margin-left: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

#cvc:focus {
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}

.button-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  background-color: black;
  color: white;
  width: 50%;
  height: 46px;
  transition: all .4s;
}

.button-payment:hover {
  background-color: #e65540;
}

.container-payment {
  overflow: auto;
}

.container-payment input:valid, .container-payment input:focus:valid {
  background: rgb(220, 255, 220);
}

.container-payment input:invalid, .container-payment input:focus:invalid {
  background: rgb(255, 232, 233);
}
