/*  Header  */
.show-menu {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.shopping-bag-mobile {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.container-header-mobile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  display: none;
}

.logo-mobile {
  display: block;
}

.logo-mobile img {
  max-height: 27px;
}

.container-header-mobile .header-cart {
  right: -60px;
}

.hamburger {
  display: inline-block;
  position: relative;
  padding: 12px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s;
}

.main-menu-mobile>li {
  border-top: 1px solid #ececec;
  background-color: #e65540;
  position: relative;
  line-height: 2.5;
  padding: 5px 20px;
  display: block;
}

.main-menu-mobile li a {
  font-family: 'Montserrat', Arial;
  font-size: 17px;
  color: white;
}

.main-menu-mobile li a:hover {
  border-bottom: 1px solid white;
}

/*   Tablet Devices   */
@media screen and (max-width: 992px) {
  .wrap-menu-mobile {
    position: relative;
    background-color: white;
    width: 100%;
    display: none;
  }

  .wrap-menu-mobile.active {
    display: block;
  }

  .container-menu-header {
    display: none;
  }

  .container-header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  /*   Section   */
  .item-slide {
    height: 470px;
  }

  .caption-arr {
    font-size: 50px;
  }

  /*  Footer  */
  footer {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .res3 {
    width: 100%;
  }

  .res4 {
    width: 33.3333%;
  }
}

/*   Mobile Devices   */
@media screen and (max-width: 576px) {

  /*   Section  */
  /*  Banner   */
  .item-slide {
    height: 300px;
  }

  .caption-col {
    font-size: 16px;
  }

  .caption-arr {
    font-size: 35px;
  }

  /*   Featured  */
  .lookbook-span {
    font-size: 25px;
  }

  .lookbook-h3 {
    font-size: 40px;
  }

  /*   Shipping   */
  .res-ship1 {
    width: 100%;
  }

  .res-ship2 {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

@media screen and (max-width: 480px) {

  /*   Header   */
  .header-cart {
    width: 300px;
  }

  /*   Footer   */
  .res4 {
    width: 100%;
  }
}

/*  *************************  */
/*   Banner, Fetatured Section  */
/*   Mobile   */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }

  .min576-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .res83 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .min576-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*   Tablet   */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }

  .min768-33 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .min768-66 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .res-ban {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .min768-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .res-fea {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .res-look {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

/*  PC  */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .min992-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .res-ban {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .res-fea {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .min992-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .res-look {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

.container {
  max-width: 1200px !important;
}

/*   Pointer events for bag  */
@media screen and (max-width: 1024px) {
  .spbag-img1:hover {
    pointer-events: none;
  }
}

/*   Close header-cart in PC  */
@media screen and (min-width:993px) {
  .wrap-menu-mobile {
    display: none !important;
  }
}
