.search-box {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.search-input {
  width: 90%;
  height: 58px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 58px;
  color: #333333;
}

.pageNumber {
  margin-right: -6px;
  margin-left: -6px;
}

.item-pageNumber {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ececec;
  margin: 6px;
}
