/*  Default Styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  transition: all .4s;
}

a:hover {
  text-decoration: none;
  color: #e65540;
}

button:hover {
  cursor: pointer;
}

button {
  border: none;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
}

body, html {
  height: 100%;
  font-weight: 500;
}

body {
  font-family: 'Montserrat', Arial;
  padding-right: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: white;
}

img {
    vertical-align: middle;
    border-style: none;
}

ul, li {
  margin: 0;
  list-style-type: none;
}

dl ol ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

h2, h3, h4, h5 {
  margin: 0;
}

input {
  font-family: 'Montserrat', Arial;
  outline: none;
  border: none;
}

button, input {
  overflow: visible;
}

p {
  color: #888888;
  line-height: 1.7;
}

.hov1:hover {
  background-color: #e65540;
  color: white;
}

.bgwhite {
  background-color: white;
}
/*   General Styles   */
/*  Fontsize  */
.fs13 {
  font-size: 13px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs23 {
  font-size: 23px;
}

.fs30 {
  font-size: 30px;
}

.fs60 {
  font-size: 60px;
}

.fw-bold {
  font-weight: bold;
}

.lspace-1 {
  letter-spacing: 1px;
}

/*  Padding right  */
.p-r-5 {
  padding-right: 5px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-30 {
  padding-right: 30px;
}
/*  Padding left  */
.p-l-5 {
  padding-left: 5px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-30 {
  padding-left: 30px;
}
/*  Padding top  */
.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-25 {
  padding-top: 25px
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-60 {
  padding-top: 60px;
}

/*  Padding bottom  */
.p-b-5 {
  padding-bottom: 5px;
}

.p-b-9 {
  padding-bottom: 9px;
}

.p-b-12 {
  padding-bottom: 12px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-90 {
  padding-bottom: 90px;
}

/*  Max-width  */
.w-482px {
 max-width: 482px;
}

.w-300px {
  max-width: 300px;
}

/*  Text-align  */
.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}
/*  Width  */
.w-13 {
  width: 13%;
}

.w-28 {
  width: 28%;
}

.w-33 {
  width: 33%;
}

.w-53 {
  width: 53%;
}

.w-calc {
  width: calc(47% - 55px);
}

.w-66 {
  width: 66%;
}

.wid-179px {
  width: 179px;
}

/*  Text  */
.text-7 {
  font-size: 13px;
  color: #555555;
  line-height: 1.8;
}

.text-8 {
  font-family: 'Montserrat', Arial;
  font-weight: 500;
  color: #888888;
  line-height: 1.8;
}

.text-25 {
  font-family: 'Montserrat', Arial;
  font-weight: 500;
  font-size: 25px;
  color: #333333;
  line-height: 1.2;
}

/*  Flex  */
.flex-w {
  display: flex;
  flex-wrap: wrap;
}

.flex-ws {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-ce {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-co {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .... */
.container {
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.bg-title {
  background-color: #212121;
  width: 100%;
  min-height: 240px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.title-text {
  color: white;
  line-height: 1.2;
}

.prmh-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
}
/*  Header Styles  */
.container-menu-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1100;
  box-shadow: 0 1px 5px 0 #C8C6C6;
}

.header1 {
  height: 65px;
}

.logo{
  display: block;
    position: absolute;
    left: 52px;
    top: 50%;
    transform: translateY(-50%);
}

.logo img {
  max-height: 50px;
  width: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    transition: all .3s;
}

.main-menu {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-menu li {
  display: block;
  position: relative;
  padding: 20px 15px;
}

.main-menu li a {
  font-size: 17px;
  color: #333;
  padding: 5px;
}

.main-menu li:hover a {
  border-bottom: 1px solid black;
}

/* Shopping Bag Styles */
.icon-spbag img {
  height: 100%;
}

.shopping-bag {
  display: flex;
  position: absolute;
  right: 52px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-spbag {
  height: 27px;
  position: relative;
  transition: all .4s;
}

.spbag-noti {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  right: -10px;
  top: -2px;
  color: white;
}


/*  Cart Dropdown  */
.spbag-img:hover {
  cursor: pointer;
}

.spbag-img1:hover {
  cursor: pointer;
}

.show {
  transform: scale(1) !important;
}

.header-cart {
  transform: scale(0);
  position: absolute;
  z-index: 1100;
  background-color: white;
  width: 339px;
  top: 170%;
  right: -10px;
  padding: 20px;
  border-top: 3px solid #e6e6e6;
  box-shadow: 0 5px 5px 0px rgb(0 0 0 / 10%);
  transition: all .4s;
  transform-origin: top right;
}

.cart-itemlist {
  max-height: 270px;
  overflow: auto;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.cart-item-img {
  width: 80px;
  position: relative;
  margin-right: 20px;
}

.cart-item-img::after {
  content: '\00D7';
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  opacity: 0;
}

.cart-item-img:hover::after {
  cursor: pointer;
  opacity: 1;
}

.cart-item-img img {
  width: 100%;
}

.cart-item-txt {
  width: calc(100% - 100px);
}

.cart-item-name {
  display: block;
  font-family: 'Montserrat', Arial;
  font-weight: 500;
  color: #555;
  line-height: 1.3;
  margin-bottom: 12px;
}

.cart-item-name:hover {
  color: #e65540;
}

.cart-item-info {
  display: block;
  font-size: 14px;
  color: #888;
  line-height: 1.5;
}

.cart-total {
  text-align: right;
  color: #555;
  padding-top: 10px;
  padding-bottom: 20px;
}


.cart-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button-cart {
  width: calc((100% - 10px) / 2);
}

.cart-a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  transition-duration: 0.3s;
}

/*  Slide Styles  */
.item-slide {
  display: block;
  background-image: url("../img/roleb.jpg");
  background-size: cover;
  position: relative;
  width: auto;
  height: 700px;
  min-height: 1px;
  left: 0;
  top: 0;
  user-select: none;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
}

.content-slide {
  width: 100%;
  height: 100%;
  padding: 150px 15px;
  padding-top: 170px;
}

.caption-col {
  font-weight: 900;
  color: white;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.caption-arr {
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 37px;
}

.caption-shopnow {
  width: 161px;
}

.a-shopnow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  width: 100%;
  height: 46px;
  color: black;
  background-color: white;
}

.a-shopnow:hover {
  transition-duration: 0.3s;
}

/*  Banner Styles  */
.banner {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.banner-item {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.banner-img {
  position: relative;
  margin-bottom: 30px;
}

.img-hover:hover img {
  transform: scale(1.1);
}


.img-hover {
  display: block;
  overflow: hidden;
}

.img-hover img {
  width: 100%;
  transition: all .5s;
}

.banner-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 179px;
}

.bname-a {
  font-family: 'Montserrat', Arial;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 45px;
  transition-duration: 0.3s;
}

/*  Featured Styles  */
.featured {
  background-color: white;
  padding-bottom: 105px;
  padding-top: 45px;
}

.h3-featured {
  color: #222;
  line-height: 1.2;
  font-family: 'Montserrat', Arial;
}

.list-featured {
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}

.item-featured {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.block-img {
  overflow: hidden;
  position: relative;
}

.block-img-new::before, .block-img-sale::before {
  background-color: #66a8a6;
  content: 'New';
  z-index: 100;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block-img-sale::before {
  background-color: #e65540;
  content: 'Sale';
}

.block-img img {
  width: 100%;
  display: block;
}

.block-addtocart-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  opacity: 0;
  transition-duration: .4s;
}

.block-addtocart-overlay:hover {
  opacity: 1;
}

.block-addtocart-overlay:hover .block-addtocart {
  bottom: 20px;
}

.block-addtocart {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -45px;
  width: 161px;
  transition-duration: 0.4s;
}

.but-addtocart {
  font-family: 'Montserrat', Arial;
  border-radius: 23px;
  background-color: black;
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}

.block-name-a {
  display: block;
  font-family: 'Montserrat', Arial;
  color: #555;
  line-height: 1.5;
  padding-bottom: 5px;
}

.block-name-a:hover {
  color: #e65540;
}


.old-price {
  color: #555555;
  text-decoration: line-through;
}

.new-price {
  color: #e65540;
}

/*  Lookbook Styles  */
.lookbook {
  background-color: #f0f0f0;
  padding-bottom: 55px;
  padding-top: 55px;
}

.lookbook-item {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 15px;
}

.lookbook-img {
  position: relative;
}

.lookbook-img img {
  height: 650px;
}

.lookbook-tog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.lookbook-span {
  font-family: 'Montserrat', Arial;
  font-weight: bold;
  color: brown;
  line-height: 1.2;
  letter-spacing: 2px;
  padding-top: 45px;
}

.lookbook-h3 {
  font-family: 'Montserrat', Arial;
  color: brown;
  line-height: 1.2;
  letter-spacing: 3px;
}

.lookbook-a {
  color: gray;
  letter-spacing: 2px;
}

.lookbook-a:hover {
  color: #FF3F00;
  text-decoration: underline;
}

.lookbook-text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.looksale-a {
  color: #555555;
  line-height: 1.5;
  display: block;
  padding-bottom: 5px;
}

.looksale-a:hover {
  color: #e65540;
  text-decoration: none;
}

.sale-time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.saletime-box {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
}

.saletime-text {
  font-weight: 500;
}

.t-color {
  color: gray;
}

/*   Shipping Styles  */
.shipping {
  background-color: white;
  padding-bottom: 46px;
  padding-top: 62px;
}

.block-ship {
  display: flex;
  flex-wrap: wrap;
}

.text-ship {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 15px;
}

.bo2 {
  border-left: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
}

.h4-ship {
  line-height: 1.5;
  color: #555555;
  font-weight: 500;
}

.info-ship {
  font-style: italic;
  color: #888888;
  line-height: 1.8;
}

/*  Footer Styles  */
.footer1 {
  background-color: #f0f0f0;
  padding: 45px;
}

.block-footer {
  display: flex;
  flex-wrap: wrap;
}

.h4-footer {
  color: #222222;
  line-height: 1.5;
}

.icon-footer {
  display: flex;
  align-items: center;
}

.fa {
  color: #888888;
  display: inline-block;
  text-rendering: auto;
  letter-spacing: 3px;
}

.effect1 {
  position: relative;
  border-bottom: 1px solid #cccccc;
}

.button-footer:hover {
  background-color: #e65540;
}

.button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  background-color: black;
  color: white;
  width: 100%;
  height: 46px;
  transition: all .4s;
}

.input-subs {
  display: none;
}

.input-footer {
  background-color: #f0f0f0;
  width: 100%;
}

#emailFooter:focus:valid {
  background: rgb(220, 255, 220);
}

#emailFooter:focus:invalid {
  background: rgb(255, 232, 233);
}

.card {
  height: 22px;
}

.copyright {
  letter-spacing: 2px;
}
